<div class="container-fluid">
    <div class="row">
        <div class="col">
            <header>
                <ul class="navbar-nav flex-row">
                    <li class="nav-item me-3">
                        <a class="nav-link" [routerLink]="['/home']">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-3" [routerLink]="['/mapa']">MAPA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-3" [routerLink]="['/calendario']">CALENDAR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/grafics']">GRAFICS</a>
                    </li>
                </ul>
            </header>
        </div>
    </div>
</div>
