<mat-list role="list">

    <div class="home-icon mt-3">
        <mat-list-item role="listitem"><a class="nav-link" [routerLink]="['/home']">
                <mat-icon>home</mat-icon><br>Home</a>
        </mat-list-item>
    </div>

    <div class="mapa-icon mt-3">
        <mat-list-item role="listitem"><a class="nav-link" [routerLink]="['/mapa']">
                <mat-icon>map</mat-icon> <br>Mapa</a>
        </mat-list-item>
    </div>

    <div class="cal-icon mt-3">
        <mat-list-item role="listitem"><a class="nav-link" [routerLink]="['/calendario']">
                <mat-icon>calendar_month</mat-icon><br>Calendario</a>
        </mat-list-item>
    </div>

    <div class="artistList-icon mt-3">
        <mat-list-item role="listitem"><a class="nav-link" [routerLink]="['/artistList']">
                <mat-icon>group</mat-icon><br>Artistas</a>
        </mat-list-item>
    </div>

    <div class="eventList-icon mt-3">
        <mat-list-item role="listitem"><a class="nav-link" [routerLink]="['/']">
                <mat-icon>event</mat-icon><br>Eventos</a>
        </mat-list-item>
    </div>

    <div class="grafics-icon mt-3">
        <mat-list-item role="listitem"><a class="nav-link" [routerLink]="['/']">
                <mat-icon>bar_chart</mat-icon><br>Gràficos</a>
        </mat-list-item>
    </div>