.home-layout {
    height: 100vh; /* Full viewport height */
  }
  
  .sidebar {
    width: 130px; /* Sidebar width */
    // background-color: #3f51b5; /* Example color */
    // color: white;
  }
  
  .dashboard-content {
    padding: 20px;
    overflow: auto;
  }

  mat-sidenav {
    overflow: hidden !important;
   }

   .mat-drawer {
    overflow: hidden !important;
   }


 
//   .main-content {
//    display: flex;
//    justify-content: center;
//     //align-content: center;
//   }


  